### JetBrains IntelliJ
*.iml

## Directory-based project format:
.idea/
# if you remove the above rule, at least ignore the following:

# User-specific stuff:
# .idea/workspace.xml
# .idea/tasks.xml
# .idea/dictionaries

## File-based project format:
*.ipr
*.iws

## Plugin-specific files:

# IntelliJ
/out/

