<?xml version="1.0" encoding="UTF-8"?>
<widget id="nl.x-services.bigregister"
        version="1.1.0"
        xmlns="http://www.w3.org/ns/widgets"
        xmlns:gap="http://phonegap.com/ns/1.0">

    <name>BIG Register</name>

    <description>
        Mobiele versie van het BIG Register.
        Weten of uw zorgverlener bevoegd is om zijn of haar beroep uit te oefenen? Zoek in het BIG-register uw zorgverlener. Dit kan op naam, maar ook op BIG-nummer. Iedere zorgverlener heeft zo'n uniek, persoonsgebonden BIG-nummer. Vraag dit nummer aan uw zorgverlener.
    </description>

    <author email="bert.vanlangen@gmail.com" href="https://blog.bertvanlangen.com">
        Bert van Langen
    </author>

    <!-- Build only for these plaforms -->
    <platform name="ios"/>
    <platform name="android"/>

    <!--
        Plugins
        - Device: for 'device ready' event
        - Network information: to be able to check if a network is available
        - Dialogs: For dialog panes
        - InAppBrowser: For opening an in-app browser
        - GaPlugin: Google Analytics

        NOTE: No spec is provided, so always the newest version of the plugin is loaded
              No source is provided, defaulting to NPM
    -->
    <plugin name="cordova-plugin-device"/>
    <plugin name="cordova-plugin-network-information"/>
    <plugin name="cordova-plugin-dialogs"/>
    <plugin name="cordova-plugin-inappbrowser"/>
    <plugin name="com.adobe.plugins.gaplugin" source="pgb"/>

    <!--
        Don't add any permissions to the app, add the
        We will still have the INTERNET permission on your app, which PhoneGap requires.
    -->
    <preference name="permissions" value="none"/>


    <!-- all: current version of PhoneGap -->
    <preference name="phonegap-version" value="cli-5.2.0"/>
    <!-- all: default means both landscape and portrait are enabled -->
    <preference name="orientation" value="default"/>
    <!-- all: possible values handset, tablet, or universal -->
    <preference name="target-device" value="universal"/>
    <!-- all: hides the status bar at the top of the screen.
              When set to false fixes soft keyboard overlapping input and viewport scrolling on Android -->
    <preference name="fullscreen" value="false"/>

    <!-- ios: control whether the screen 'bounces' when scrolled beyond the top or bottom-->
    <preference name="webviewbounce" value="false"/>
    <!-- ios: if icon is prerendered, iOS will not apply it's gloss to the app's icon on the user's home screen -->
    <preference name="prerendered-icon" value="true"/>
    <!-- ios: black-translucent will appear black because the PhoneGap webview doesn't go beneath the status bar -->
    <preference name="ios-statusbarstyle" value="black-opaque"/>
    <!-- ios: controls whether data types (such as phone no. and dates) are automatically turned into links by the system -->
    <preference name="detect-data-types" value="true"/>
    <!-- ios: if set to true, app will terminate when home button is pressed -->
    <preference name="exit-on-suspend" value="false"/>
    <!-- ios: if set to false, the spinner won't appear on the splash screen during app loading -->
    <preference name="show-splash-screen-spinner" value="true"/>
    <!-- ios: if set to false, the splash screen must be hidden using a JavaScript API -->
    <preference name="auto-hide-splash-screen" value="true"/>

    <!-- android: MIN SDK version supported on the target device. MAX version is blank by default. -->
    <preference name="android-minSdkVersion" value="14"/>
    <!-- android: app install location. 'auto' will choose. 'internalOnly' is device memory. 'preferExternal' is SDCard. -->
    <preference name="android-installLocation" value="auto"/>


    <!-- Define app icon for each platform. -->
    <icon src="icon.png"/>
    <icon src="res/icon/android/icon-36-ldpi.png" platform="android" qualifier="ldpi"/>
    <icon src="res/icon/android/icon-48-mdpi.png" platform="android" qualifier="mdpi"/>
    <icon src="res/icon/android/icon-72-hdpi.png" platform="android" qualifier="hdpi"/>
    <icon src="res/icon/android/icon-96-xhdpi.png" platform="android" qualifier="xhdpi"/>

    <icon src="res/icon/ios/icon-57.png" platform="ios" width="57" height="57"/>
    <icon src="res/icon/ios/icon-72.png" platform="ios" width="72" height="72"/>
    <icon src="res/icon/ios/icon-57-2x.png" platform="ios" width="114" height="114"/>
    <icon src="res/icon/ios/icon-72-2x.png" platform="ios" width="144" height="144"/>
    <icon src="res/icon/ios/icon-120.png" platform="ios" width="120" height="120" />

    <!-- Define app splash screen for each platform. -->
    <splash src="res/screen/android/screen-ldpi-portrait.png" platform="android" qualifier="ldpi"/>
    <splash src="res/screen/android/screen-mdpi-portrait.png" platform="android" qualifier="mdpi"/>
    <splash src="res/screen/android/screen-hdpi-portrait.png" platform="android" qualifier="hdpi"/>
    <splash src="res/screen/android/screen-xhdpi-portrait.png" platform="android" qualifier="xhdpi"/>

    <splash src="res/screen/ios/screen-iphone-portrait.png" platform="ios" width="320" height="480"/>
    <splash src="res/screen/ios/screen-iphone-portrait-2x.png" platform="ios" width="640" height="960"/>
    <splash src="res/screen/ios/screen-iphone-568.png" platform="ios" width="640" height="1136" />
    <splash src="res/screen/ios/screen-ipad-portrait.png" platform="ios" width="768" height="1024"/>
    <splash src="res/screen/ios/screen-ipad-landscape.png" platform="ios" width="1024" height="768"/>


    <!-- allow loading any url in the webview -->
    <access origin="*"/>

</widget>
