/* css */
img.no-resize-30x30 {
    max-height: 30px;
    max-width: 30px;
}

.row-padded {
    padding: 3px;
}

.form-horizontal .controls {
  margin-bottom: 6px;
}

.form-horizontal .control-group {
  margin-bottom: 0;
}